@media screen and (max-width: 768px) {

    // HEADER
    .header-content {
        width: 100%;
        flex-direction: column;

        i {
            margin-top: 16px;
            font-size: 34px;
            padding: 2px 16px;
        }
    }

    .header-logo img {
        width: 160px;
        margin-top: 46px;
        align-items: center;
        justify-content: center;
    }

    .header-button {
        display: none;
    }

    .hero {
        min-height: 60vh;


        h1 {
            font-size: 30px;
            padding: 0 14px;
            width: 100%;
        }

        p {
            font-size: 14px;
        }
    }
//--------------------------------

// ABOUT
    .about-content {
        flex-direction: column;

        img {
            width: 100%;
        }
    }

    .about-description {
        padding: 20px 42px 20px 42px;
    }
// SERVICES
    .haircuts {
        padding-top: 50px ;
        flex-direction: column;
        gap: 28px;
    }

    .whatsapp {
        img {
            max-width: 64px;
        }
    }
}
//----------------------------------



@media screen and (max-width: 480px) {

    .hero {
        h1 {
            font-size: 24px;
        }

        p {
            font-size: 12px;
        }
    }
}

