// COLORS
:root {
    --primary-normal: #06121e;
    --primary-dark: #040f1a;
    --primary-light: #0c2135;

    --secondary-normal: #090d11;
    --secondary-dark: #06090c;
    --secondary-light: #1a1f25;

    --black-normal: #232224;
    --black-dark: #161617;
    --black-light: #353436;

    --white-normal: #ffffff;
    --white-dark: #edeaef;
    --white-light: #fefbff;

    --red-normal: #D94140;
    --red-dark: #b42b2b;
    --red-light: #d34040;
}

//---------------------------
// SCROLL
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--primary-normal);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--red-light);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--secondary-light);
    /* creates padding around scroll thumb */
}

// ------------------------------
// STANDARDS
body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--primary-normal);
}

button {
    cursor: pointer;
    font-family: 'Sora', sans-serif;
}

svg,
img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

header {
    width: 100%;

}

//----------------------------

// HEADER
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: var(--white-normal);
}

.header-icons {
    display: flex;
    gap: 14px;
}

.header-content a:hover {
    i {
        animation: translateY 0.8s infinite alternate;
        color: var(--red-light);
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button {
    border: 1px solid var(--white-normal);
    padding: 8px 24px;
    border-radius: 4px;
    color: var(--white-normal);
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    border: 1px solid var(--red-light);
    background-color: var(--red-light);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12px;
}

.home {
    position: relative;
}

.home::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../images/bg.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.hero {
    color: var(--white-normal);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 42px;
    }

    p {
        text-align: center;
        margin: 14px 0;
    }
}

.button-contact {
    color: var(--white-normal);
    padding: 14px 28px;
    background-color: var(--red-normal);
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover {
    animation: scaleButton 0.8s infinite alternate;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

// ABOUT
.about {
    color: var(--white-normal);
    background-color: var(--primary-normal);
    overflow: hidden;
    color: var(--white-normal);

}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img {
        max-width: 570px;
    }

}

.about-content div {
    flex: 1;
}

.about-description {

    h2 {
        font-size: 38px;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 14px;
        line-height: 150%;
    }

}

//------------------------------

// SERVICES
.services {
    background-color: var(--white-normal);
    color: var(--black-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content {
    padding-bottom: 28px;

    h2 {
        text-align: center;
        font-size: 38px;
        margin-bottom: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        line-height: 150%;
        margin-bottom: 14px;
        text-align: center;
        max-width: 780px;
    }
}

.haircuts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 44px 34px 44px;
}

.haircut {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--white-normal);
    border-radius: 8px;
    box-shadow: 0 -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;

    img {
        width: 100%;
        max-width: 354px;
        transition: transform 0.3s;
    }
}

.haircut img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    align-items: center;
    background-color: var(--white-normal);
    z-index: 2;

    button {
        background-color: var(--red-light);
        padding: 4px 8px;
        border-radius: 4px;
        color: var(--white-normal);
        border: none;
    }
}

// ------------------------

// FOOTER
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
    padding: 54px 0;
    color: var(--white-normal);
}

.footer-icons {
    display: flex;
    gap: 24px;
}

.whatsapp {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 3;
    transition: transform 0.5;

    img {
        max-width: 64px;
    }

    img:hover {
        transform: scale(1.16);
    }
}

.whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 100px;
    left: -144px;
    top: 8px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--black-normal);
    color: var(--white-normal);
    opacity: 0;
    transition: opacity 0.4s;
}
.whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}